node_modules
.pnpm-store
.next
coverage
dist
out
*.tsbuildinfo
contracts/**/build
contracts/**/Move.lock
contracts/**/Published.toml
.idea/*
!.idea/.gitignore
.env
.env.local
.env.*.local
*.log
.DS_Store
